* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    margin: 0 auto;
    max-width: 980px;
}

.flex {
    display: flex;
}

/* A */
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}
/*****/

/* Start Nav */

nav {
    background-color: #ff6900;
    -webkit-box-shadow: 0px 8px 10px 0px #d2d2d2;
    -moz-box-shadow: 0px 8px 10px 0px #d2d2d2;
    -o-box-shadow: 0px 8px 10px 0px #d2d2d2;
    box-shadow: 0px 8px 10px 0px #d2d2d2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav .flex {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul a {
    display: inline-block;
    padding: 1rem .3rem;
    font-weight: bold;
}

.nav-logo {
    padding: 1rem 0;
    max-width: 120px;
}

.nav-logo img {
    object-fit: cover;
    width: 100%;
}
/* End Nav */

/* Start Main */
main {
    padding: 8rem 0 5rem 0;
}

main .flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding: 0 .5rem 3rem .5rem;
    max-width: calc(100% / 3);
}

.position-r {
    position: relative;
}

.card img {
    object-fit: cover;
    width: 100%;
    padding-bottom: .3rem;
}

.card-img-standard {
    display: block;
}

.card-img-hover {
    display: none;
}

.change-image:hover .card-img-standard {
    display: none;
}

.change-image:hover .card-img-hover {
    display: block;
}

.card h3 {
    text-transform: uppercase;
    padding: .2rem 0;
}

.card > p:last-of-type {
    color: #ff0000;
    font-weight: bold;
}

.card span {
    text-decoration: line-through;
    color: #000000;
    font-weight: normal;
}

.label {
    position: absolute;
    bottom: 150px;
    left: 8px;
}

.label p {
    display: inline-block;
    padding: .3rem .4rem;
    font-size: .8rem;
    font-weight: bold;
    color: #ffffff;
}

.label-sale {
    background-color: #ff0000;
}

.lable-sustainable {
    background-color: #008000;
}

.lable-heart {
    background-color: #ffffff;
    padding: .6rem .8rem;
    position: absolute;
    top: 20px;
    right: 8px;
}

.lable-heart i {
    color: #000000;
    font-size: 1.5rem;
}

.lable-heart i:hover {
    color: #ff0000;
}
/* End Main */

/* Start Footer */
footer {
    background-color: #1a1a1a;
    padding-top: 1.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

footer h3, h4 {
    color: #ffffff;
}

footer h3 {
    font-size: 1rem;
    padding-left: .3rem;
}

footer h4 {
    font-size: .8rem;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div > div:nth-of-type(1) ul a {
    font-size: 1.3rem;
}

footer ul a {
    display: inline-block;
    padding: .5rem .3rem 1.8rem .3rem;
    font-size: .8rem;
}
/* End Footer */