* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    margin: 0 auto;
    max-width: 980px;
}

.flex {
    display: flex;
}

/* A */
a {
    text-decoration: none;
    color: #ffff;
}

a:hover {
    text-decoration: underline;
    color: #ffff;
}
/*****/

/* Start Nav */

nav {
    background-color: #ff6900;
    -webkit-box-shadow: 0px 8px 10px 0px #d2d2d2;
    -moz-box-shadow: 0px 8px 10px 0px #d2d2d2;
    -o-box-shadow: 0px 8px 10px 0px #d2d2d2;
    box-shadow: 0px 8px 10px 0px #d2d2d2;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

nav .flex {
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul a {
    display: inline-block;
    padding: 1rem .3rem;
    font-weight: bold;
}

.nav-logo {
    padding: 1rem 0;
    max-width: 120px;
}

.nav-logo img {
    object-fit: cover;
    width: 100%;
}
/* End Nav */

/* Start Main */
main {
    padding-top: 8rem;
}

main .flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding: 0 .6rem 3rem 0;
    max-width: calc(100% / 3);
}

.card img {
    object-fit: cover;
    width: 100%;
    padding-bottom: .3rem;
}

.card h3 {
    text-transform: uppercase;
    padding: .2rem 0;
}

.card p:last-of-type {
    color: #ff0000;
    font-weight: bold;
}

.card span {
    text-decoration: line-through;
    color: #000000;
    font-weight: normal;
}


/* End Main */